
{%load static%}
<!DOCTYPE html>
<html style="font-size: 16px;" lang="ru"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Курс пройден успешно">
    <meta name="description" content="">
    <title>bad_res</title>
    <link rel="stylesheet" href="{%static 'main/css/main.css'%}" media="screen">
    <link rel="stylesheet" href="{%static 'main/css/bad_res.css'%}" media="screen">
    <script class="u-script" type="text/javascript" src="{%static 'main/js/jquery.js'%}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{%static 'main/js/main.js'%}" defer=""></script>

    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "WebSite6097926",
		"logo": "images/image1.png"
}</script>
    <meta name="theme-color" content="#a37fdf">
    <meta property="og:title" content="bad_res">
    <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
  <body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="ru" style = background-color:#616172>
    <header class="u-black u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-palette-1-base u-clearfix u-header u-header" id="sec-d402"><div class="u-clearfix u-sheet u-sheet-1">
        <nav class="u-menu u-menu-hamburger u-offcanvas u-menu-1" data-responsive-from="XL">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700; text-transform: uppercase;">
            <a class="u-button-style u-custom-active-border-color u-custom-border u-custom-border-color u-custom-borders u-custom-hover-border-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</g></svg>
            </a>
          </div>
          <div class="u-nav-container">
            <ul class="u-nav u-spacing-30 u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="Главная.html" style="padding: 10px 0px;">Главная</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="registration.html" style="padding: 10px 0px;">registration</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="auth.html" style="padding: 10px 0px;">auth</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="lobby.html" style="padding: 10px 0px;">lobby</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="Страница-1.html" style="padding: 10px 0px;">Страница 1</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="страница-2.html" style="padding: 10px 0px;">страница 2</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="страница-3.html" style="padding: 10px 0px;">страница 3</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="страница-4.html" style="padding: 10px 0px;">страница 4</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="страница-5.html" style="padding: 10px 0px;">страница 5</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="страница-6.html" style="padding: 10px 0px;">страница 6</a>
</li></ul>
          </div>
          <div class="u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><p style = "color: blueviolet">{{ request.user.first_name }}</p>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'main:index'%}">Главная</a>
                </li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'main:registration'%}">Регистрация</a>
                </li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'main:auth' %}">Войти</a>
                </li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'main:lobby' %}">Меню</a>
                </li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'main:page_1' %}">Пройти обучение</a>
                </li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'main:test' %}">Пройти тест</a>
                </li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'main:logout' %}">Выйти из аккаунта</a>
                </li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
        <a href="{% url 'main:lobby'%}" class="u-image u-logo u-image-1" data-image-width="281" data-image-height="239">
          <img src="{%static 'main/img/image1.png'%}" class="u-logo-image u-logo-image-1">
        </a>
      </div></header>
    <section class="u-clearfix u-custom-color-1 u-section-1" id="sec-ab50">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-subtitle u-text u-text-default u-text-1">Вы не прошли тест (</h2>
        <p class="u-text u-text-2">Вы набрали {{user_acc.test_mark}} баллов из 100. <br/>Чтобы успешно сдать тест нужно набрать более 70 баллов</p>
        <a href="{% url 'main:test'%}" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius u-btn-1">Пройти еще раз</a>
        <img class="u-image u-image-contain u-image-default u-preserve-proportions u-image-1" src="{%static 'main/img/unlike.png'%}" alt="" data-image-width="512" data-image-height="512">
      </div>
    </section>
    
  
</body></html>