{%load static%}
<!DOCTYPE html>
<html style="font-size: 16px;" lang="ru"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="school, Children&amp;apos;sArt School, all our programs, We&amp;apos;d love to hear from you, our gallery, 5k, 150, 45, 250, Questions?Comments?We&amp;apos;d love to hear from you.">
    <meta name="description" content="">
    <title>страница 3</title>
    <link rel="stylesheet" href="{%static 'main/css/main.css'%}" media="screen">
    <link rel="stylesheet" href="{%static 'main/css/page_3.css'%}" media="screen">
    <script class="u-script" type="text/javascript" src="{%static 'main/js/jquery.js'%}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{%static 'main/js/main.js'%}" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    
  
    <meta name="theme-color" content="#a37fdf">
    <meta property="og:title" content="страница 3">
    <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
  <body style = "background-color: black; overflow: hidden; -webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;-o-user-select: none;user-select: none;" data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="ru"><header class="u-black u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-palette-1-base u-clearfix u-header u-header" id="sec-d402"><div class="u-clearfix u-sheet u-sheet-1">
        <nav class="u-menu u-menu-hamburger u-offcanvas u-menu-1" data-responsive-from="XL">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700; text-transform: uppercase;">
            <a class="u-button-style u-custom-active-border-color u-custom-border u-custom-border-color u-custom-borders u-custom-hover-border-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</g></svg>
            </a>
          </div>
          <div class="u-nav-container">
            <ul class="u-nav u-spacing-30 u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="{% url 'main:index'%}" style="padding: 10px 0px;">Главная</a>
            </li><li class="u-nav-item"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="{% url 'main:registration' %}" style="padding: 10px 0px;">Регистрация</a>
            </li><li class="u-nav-item"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="{% url 'main:auth' %}" style="padding: 10px 0px;">Войти</a>
            </li><li class="u-nav-item"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="{% url 'main:lobby' %}" style="padding: 10px 0px;">Меню</a>
            </li><li class="u-nav-item"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="{% url 'main:page_1' %}" style="padding: 10px 0px;">Введение</a>
            </li><li class="u-nav-item"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="{% url 'main:page_2' %}" style="padding: 10px 0px;">Вирусы/Трояны</a>
            </li><li class="u-nav-item"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="{% url 'main:page_3' %}" style="padding: 10px 0px;">Фишинг</a>
            </li><li class="u-nav-item"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="{% url 'main:page_4' %}" style="padding: 10px 0px;">Рекламное ПО</a>
            </li><li class="u-nav-item"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="{% url 'main:page_5' %}" style="padding: 10px 0px;">Социальная инженерия</a>
            </li><li class="u-nav-item"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="{% url 'main:page_6' %}" style="padding: 10px 0px;">Заключение</a>
            </li></ul>
          </div>
          <div class="u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><p style = "color: blueviolet">{{ request.user.first_name }}</p>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'main:index'%}">Главная</a>
                </li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'main:registration'%}">Регистрация</a>
                </li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'main:auth' %}">Войти</a>
                </li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'main:lobby' %}">Меню</a>
                </li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'main:page_1' %}">Пройти обучение</a>
                </li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'main:test' %}">Пройти тест</a>
                </li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'main:logout' %}">Выйти из аккаунта</a>
                </li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
        <a href="{% url 'main:lobby'%}" class="u-image u-logo u-image-1" data-image-width="281" data-image-height="239">
          <img src="{%static 'main/img/image1.png'%}" class="u-logo-image u-logo-image-1">
        </a>
      </div></header> 
    <section class="u-clearfix u-custom-color-1 u-section-1" id="sec-0cf2">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="custom-expanded u-border-3 u-border-grey-40 u-container-style u-group u-group-1">
          <div class="u-container-layout u-valign-middle u-container-layout-1">
            <h1 class="u-align-center u-text u-text-default u-text-1">Фишинг</h1>
          </div>
        </div>
        <div class="data-layout-selected u-clearfix u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-gutter-20 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-right-cell u-size-60 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-2">
                  <p class="u-large-text u-text u-text-variant u-text-2"> Следующий вид угроз, с которым мы познакомимся будет фишинг.
Фишинг - вид интернет-мошенничества, цель которого — получить идентификационные
данные пользователей. Сюда относятся кражи паролей, номеров кредитных карт,
банковских счетов и другой конфиденциальной информации. </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <h2 class="u-subtitle u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-3"><b>Какие бывают методы фишинга</b>
        </h2>
        <p class="u-large-text u-text u-text-variant u-text-4"> Мошенники рассылают фишинговые письма, в которых с помощью
методов социальной инженерии заставляют перейти по, казалось бы, безопасной
ссылке. Например, злоумышленники могут претвориться банком, провайдером или какой-то
другой организацией и попросить пользователя обновить или передать личные
данные на их сайте и указывают ссылку. Дело в том, что неопытный пользователь
не поймет, что ссылка ведет не на официальный сайт организации, а на очень
близкую подделку. Этот фейковый сайт может быть абсолютно идентичен по дизайну
и иметь очень похожий URL адрес.&nbsp;<br>Зайдя на поддельный сайт, пользователь вводит в
соответствующие строки свой логин и пароль, а далее аферисты получают доступ в
лучшем случае к его почтовому ящику, в худшем — к электронному счету. 
        </p>
        <h2 class="u-align-center u-subtitle u-text u-text-5"><b></b><b>Как защититься от фишинга</b>
        </h2>
        <p class="u-align-left u-large-text u-text u-text-variant u-text-6">
          Установите антивирусное программное обеспечение на свой компьютер, и регулярно обновляйте его. Антивирусные программы способны обнаруживать фишинговые сайты и недоверенные ресурсы.
          <br>
          Для проверки подозрительных URL-ссылок, особенно коротких, воспользуйтесь бесплатными сервисами, такими как VirusTotal.
          <br>
          Внимательно проверяйте ссылки на наличие ошибок и несоответствий в адресе. Даже если ссылка выглядит правильно, лучше всего проверить указанный сайт в поисковой системе, перепроверить его адрес или ввести его вручную.
          <br>
          Не пренебрегайте предупреждениями вашего браузера, особенно если он сообщает о переходе на недоверенный сайт или о наличии некорректных сертификатов безопасности.
          <br>
          Вводите логины, пароли и платежные реквизиты только на сайтах, которым вы полностью доверяете, и только через защищенные веб-формы. Не верьте сообщениям о неожиданных выигрышах, подарках от онлайн-магазинов или банков.
        </p>
      </div>
    </section>
    <section class="u-black u-clearfix u-section-2" id="sec-4dc6">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a href="/page_{{page_num}}" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-2 u-palette-1-base u-radius u-btn-1">Далее&nbsp;<span class="u-file-icon u-icon"><img src="{%static 'main/img/271228.png'%}" alt=""></span>
        </a>
        <a href="/page_{{prev_page}}" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-2 u-palette-1-base u-radius u-btn-2"><span class="u-file-icon u-icon"><img src="{%static 'main/img/32542.png'%}" alt=""></span>&nbsp;Назад
        </a>
      </div>
    </section>
  
</body></html>